header {
    background-color: #FFCC99;
    font-weight: bold;
    text-align: center;
}

main {
    /* margin: 20px; < my solution (would have been more logical..., main section of the page...)*/
    background-color: #E6F2FF;
    display: flex;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
}

section {
    flex: 3;
    margin: 20px; /* their solution, which doesn't have any sense since it's a flex element... */
}

footer {
    background-color: #99CC99;
}

.border {
    border: 1px solid #CCC;
}

.shadow {
    box-shadow: 10px 5px 5px rgba(22, 20, 20, 0.90);
}